html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {font-size: 1em;}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: 'Suez One', serif;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {font-size: 4.236em;}

h3 {font-size: 2.618em;}

h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}


.wrapper {
  min-height: 100vh;
  color: #00CCE6;
  position: relative;
}

section {
  height: 100vh;
  background-color: #20335C;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
section:nth-child(1) {
  background: #20335C;
}
section:nth-child(2) {
  background: #20335C;
}
section:nth-child(3) {
  background: #00CCE6;
}
section:nth-child(4) {
  background: #3CD3B6;
}
section:nth-child(5) {
  background: #8E84D0;
}
section:nth-child(6) {
  background: #20335C;
}
section:nth-child(7) {
  background: #FF7A7F;
  overflow: hidden;
}

.nav__wrapper {
  position: fixed;
  z-index: 100;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav {
  margin: 0 0 100px 30px;
}
.nav__counter {
  font-size: 24px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.nav__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav__body {
  font-weight: 100;
  font-size: 18px;
  font-size: 18px;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav li {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
.nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}
.nav li a {
  display: block;
  padding: 0;
  color: #fff;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
    background-color: transparent;

}
.nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}
.nav li a:focus {
  background-color: transparent;
}
.nav li.active {
  pointer-events: none;
  padding-left: 1em;
}
.nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
  background-color: transparent;

}
.nav li.active .nav__counter {
  font-size: 48px;
}
.nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
.nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}


/*HEADLINE
*/
.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 3rem;
  }
}


.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}


/* -------------------------------- 

xtype 

-------------------------------- */
.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #0d0d0d;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

#chartdiv {
  width   : 100%;
  height    : 100%;
  font-size : 11px;
}           

.top-headline {
  position: relative;
  top: 10%;
  left: 10%;
}

/* PARALLAX */
#bg svg path {
  stroke: inherit;
  fill:none;
}
#bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.layer1,
.layer2 {
  position: absolute;
  z-index: 1;
}

.p1 {
  left: 50%;
  top: 20%;
  transform: rotate(180deg);
}

.p2 {
  left: 70%;
  top: 30%;
}

.p3 {
  left: 10%;
  top: 60%; 
  transform: rotate(45deg);
}

.p4 {
  left: 10%;
  top: 40%; 
}

.p5 {
  left: 15%;
  top: 65%; 
  transform: rotate(45deg);
}

.p6 {
  left: 75%;
  top: 25%; 
  transform: rotate(45deg);
}


.p7 {
  left: 50%;
  bottom: 50%; 
}


.p8 {
  left: 60%;
  bottom: 32%; 
}

.p9 {
  left: 20%;
  top: 2%;
  transform: rotate(45deg);
}

.p10 {
  left: 40%;
  bottom: 32%;
}

.p11 {
  left: 30%;
  top: 30%;
  transform: rotate(180deg);
}

.pink {
  stroke:#FF7A7F;
   fill:none;
}
.yellow {
  stroke: #FEDB7C;
   fill:none;
}

.aqua {
  stroke: #8E84D0;
   fill:none;
}

/* Future */
#particles-js{
  width: 100%;
  height: 100%;
  position: relative;
  /*background: #111111;*/
}

.a {
  fill:#fff;
}

.b {
  fill:#007bb6;
}

.c {
  fill:#fff;
}

.linkedinLogo {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 40%;
}

/*Gallery */

.gallery {
  width: 100%;
  height: auto;
  padding-left: 350px;
}

.gallery li {
  width: 25%;
  position: relative;
  float: left;
  overflow: hidden;
}

.transform {
  -webkit-transition: all .25s cubic-bezier(.2, .31, .36, 1);
       -moz-transition: all .25s cubic-bezier(.2, .31, .36, 1);
       -o-transition: all .25s cubic-bezier(.2, .31, .36, 1);
          transition: all .25s cubic-bezier(.2, .31, .36, 1);
}

.gallery a {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery img {
  position: relative;
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.gallery .info {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: #8E84D0;
    text-align: center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.gallery .title {
  font-weight: bold;
  font-size: 20px;
    color: rgb(43, 43, 43);
    position: relative;
    top: 45%;
}

/* Portfolio Animation */


.szene {

}

.stage {
  position: relative;
  width: 560px;
  height: 100%;
  margin: 0 auto;
}

/***************************************
 * All Devices
 */
.device {
  position: absolute;
}

.notebook {
  bottom: -30px;
  left: 0;
}

.ipad {
  bottom: -50px;
  left: 350px;
}

.iphone {
  bottom: -60px;
  left: 500px;
}

.screen {
  position: relative;
  margin: 13px auto 0;
  border-radius: 2px;
  background: #555;
  overflow: hidden;
}

.shadow {
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: -4%;
  width: 108%;
  height: 8px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
}

/***************************************
 * Notebook
 */
.notebook {
  width: 300px;
  height: 185px;
  border-radius: 10px 10px 0 0;
  background: #fafafa;
}

.notebook:before {
  top: 5px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border-radius: 50%;
  background: #aaa;
}

.notebook .screen {
  width: 275px;
  height: 160px;
}

.notebook .keyboard {
  position: absolute;
  top: 100%;
  margin-left: -25px;
  width: 350px;
  height: 8px;
  border-radius: 5px 5px 25px 25px;
  background: #eaeaea;
}

.notebook .keyboard:after {
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 4px;
  border-radius: 0 0 8px 8px;
  background: #ccc;
}

/***************************************
 * Tablet
 */
.ipad {
  width: 110px;
  height: 150px;
  border-radius: 8px;
  background: #fafafa;
}

.ipad:before {
  top: 5px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border-radius: 50%;
  background: #aaa;
}

.ipad:after {
  bottom: 5px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.ipad .screen {
  width: 100px;
  height: 125px;
}

/***************************************
 * Smartphone
 */
.iphone {
  width: 60px;
  height: 110px;
  border-radius: 8px;
  background: #fafafa;
}

.iphone:before {
  top: 6px;
  left: 50%;
  width: 10px;
  height: 2px;
  margin-left: -5px;
  border-radius: 4px;
  background: #aaa;
}

.iphone:after {
  bottom: 5px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.iphone .screen {
  width: 52px;
  height: 85px;
}

/***************************************
 * Animation
 */
.animation {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #bcd;
  -webkit-transform: scale(0.4, 0.4) translateX(500%);
          transform: scale(0.4, 0.4) translateX(500%);
  -webkit-animation: 7s fly-in infinite;
          animation: 7s fly-in infinite;
  overflow: hidden;
}

@-webkit-keyframes fly-in {
  0% {
    -webkit-transform: scale(0.4, 0.4) translateX(500%);
            transform: scale(0.4, 0.4) translateX(500%);
  }
  10% {
    -webkit-transform: scale(0.4, 0.4) translateX(0);
            transform: scale(0.4, 0.4) translateX(0);
  }
  20% {
    -webkit-transform: scale(1, 1) translateX(0);
            transform: scale(1, 1) translateX(0);
  }
  80% {
    -webkit-transform: scale(1, 1) translateX(0);
            transform: scale(1, 1) translateX(0);
  }
  90% {
    -webkit-transform: scale(0.4, 0.4) translateX(0);
            transform: scale(0.4, 0.4) translateX(0);
  }
  100% {
    -webkit-transform: scale(0.4, 0.4) translateX(-500%);
            transform: scale(0.4, 0.4) translateX(-500%);
  }
}

@keyframes fly-in {
  0% {
    -webkit-transform: scale(0.4, 0.4) translateX(500%);
            transform: scale(0.4, 0.4) translateX(500%);
  }
  10% {
    -webkit-transform: scale(0.4, 0.4) translateX(0);
            transform: scale(0.4, 0.4) translateX(0);
  }
  20% {
    -webkit-transform: scale(1, 1) translateX(0);
            transform: scale(1, 1) translateX(0);
  }
  80% {
    -webkit-transform: scale(1, 1) translateX(0);
            transform: scale(1, 1) translateX(0);
  }
  90% {
    -webkit-transform: scale(0.4, 0.4) translateX(0);
            transform: scale(0.4, 0.4) translateX(0);
  }
  100% {
    -webkit-transform: scale(0.4, 0.4) translateX(-500%);
            transform: scale(0.4, 0.4) translateX(-500%);
  }
}
.browser {
  height: 15px;
  background: #88a6c4;
}
.browser:before {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background: #bcd;
}
.browser:after {
  top: 5px;
  right: 5px;
  height: 5px;
  width: calc(100% - 20px);
  border-radius: 2px;
  background: #bcd;
}

.content {
  position: relative;
  width: 80%;
  height: 4px;
  margin: 10% 0 0 10%;
  background: #88a6c4;
  box-shadow: 0 8px 0 #88a6c4, 0 16px 0 #88a6c4, 0 24px 0 #88a6c4, 0 32px 0 #88a6c4, 0 40px 0 #88a6c4, 0 48px 0 #88a6c4;
  -webkit-animation: 7s pop-in infinite;
          animation: 7s pop-in infinite;
}
.content:after {
  top: 48px;
  left: 50%;
  width: 50%;
  height: 4px;
  background: #bcd;
}

.notebook .content:before {
  width: 32px;
  height: 28px;
  border-right: 4px solid #bcd;
  background: #88a6c4;
}

.ipad .content:before {
  width: 24px;
  height: 20px;
  border-right: 4px solid #bcd;
  background: #88a6c4;
}

@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: translateY(3000%);
            transform: translateY(3000%);
  }
  18% {
    -webkit-transform: translateY(3000%);
            transform: translateY(3000%);
  }
  28% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pop-in {
  0% {
    -webkit-transform: translateY(3000%);
            transform: translateY(3000%);
  }
  18% {
    -webkit-transform: translateY(3000%);
            transform: translateY(3000%);
  }
  28% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/***************************************
 * Codepen Preview
 */
@media only screen and (height: 300px) {
  .szene {
    height: 200px;
  }

  .stage {
    width: 100%;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}
